<h1>Ask the stupid Coach!</h1>

<%# the action attribute holds the url of the
request it triggers on submit %>
<form action="/answer" method="get">
<%# In the <input>, the name attribute enables you
 to set the key of the corresponding parameter. %>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
